h1 {
  font-family: 'Open Sans', sans-serif;
  color: #777;
}

.center-div{
  margin-top: 100px;

}

.button {
background-color: #4099FF;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.fi-social-twitter{
  font-size: 24px;
}

.th {
max-height: 100px;
max-width: 100px;
}

.animal-card{
 border-radius: 3px;
 margin-bottom: 20px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
