{% extends "base.html" %}

{% block content %}
    <div class="row center-div">
      <div class="large-8 large-offset-2 large-centered columns end">
        <div class="row text-center">
          <h1>Welcome to Oz Zoo Search!</h1>
          <div class="large-12 large-centered columns">
            <a role="button" href="{{ url_for('views.oauth_authorize', provider='twitter') }}" class="webicon twitter button"> <i class="fi-social-twitter"></i> Login with Twitter</a>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
