{% extends "base.html" %}

{% block content %}
    <div class="row center-div">
      <div class="large-8 large-offset-2 large-centered columns end">
        <div class="row text-center">
          <h1>Oz Zoo Search!</h1>
          <div class="large-12 large-centered columns">
            <form method="GET" action="/search">
              <input type="text" name="query" placeholder="Type the animal your looking for here" {% if keywords %}value="{{ keywords }}"{% endif %}>
            </form>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
